body 
{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.snake
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-self:center;
  margin: 0;
  border: 2px solid black;
  width: calc(var(--snake-block-size) * var(--snake-num-blocks-w));
  height: calc(var(--snake-block-size) * var(--snake-num-blocks-h));
  display:flex;
}
.snake .snake-block
{
  position: absolute;
  border: 1px solid #000;
  width: calc(var(--snake-block-size) - 4px);
  height: calc(var(--snake-block-size) - 4px);
  margin:1px;
  border-radius: 38%;
  background-color: blue;
  transition: transform var(--snake-tick-time) linear;
  transform: translate(var(--x),var(--y));
}
.snake .snake-food
{
  position: absolute;
  border: 1px solid #000;
  background-color: red;
  width: calc(var(--snake-block-size) - 4px);
  height: calc(var(--snake-block-size) - 4px);
  margin:1px;
  border-radius: 50%;
  transform: translate(var(--x), var(--y));
}

.snake .message-overlay {
  position: absolute;
  width: calc(var(--snake-block-size) * var(--snake-num-blocks-w));
  height: calc(var(--snake-block-size) * var(--snake-num-blocks-h));
  background-color: rgba(120,120,120,0.8);
  color: white;
  z-index: 2;
  text-align: center;
  line-height: calc(var(--snake-block-size) * var(--snake-num-blocks-h));
}